*,
:root,
body {
  margin: 0;
}

.dark {
  color: #000;
}

.bl {
  background: #fff;
  border-radius: .1rem solid #000;
}

body {
  background: #fff;
}

header {
  height: 50svh;
  display: flex;

}

.grid {
  width: 100vw;
  height: 60vh;
  z-index: -1;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}

#floatingshapes {
  width: 100svw;
  height: 100svh;
  position: absolute;
  z-index: -1;
}

header h1 {
  margin: auto;
  font-size: 3rem;
}
.about{
  max-width: 50rem;
  margin: auto;
}
main {
  position: relative;
  margin: 1rem;
  max-width: 100svw;
  overflow-x: hidden;
}

.lead {
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}

section {
  margin-top: 3svh;
  margin-bottom: 3svh;
}

.skills-container {
  margin: auto;
  opacity: .8;
  display: flex;
  flex-wrap: wrap;
  width: 90svw;
  justify-content: space-evenly;
}

.skill {
  display: flex;
  flex-direction: column;

  border: .2rem solid #000;
  border-radius: 10pt;
  padding: 1.5rem;
  margin-bottom: 4rem;
  width: 15svw;

}

.skill p {
  font-style: italic;
  font-weight: 300;
}

.social-card {
  width: 70svw;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border: .08rem solid #000;
  border-radius: 10pt;
}

@media (min-width: 768.01px) {

section {
  margin-top: 6svh;
  margin-bottom: 6svh;
}
  header{
    height: 30svh;
  }
  .skills-container{
    width:60svw;
  }
  .skill{
    width: 10svw;
  }
}
.social-card img a p {
  margin: auto;
}

.logo {
  width: 3rem;
}

a {
  color: black;
  text-decoration: underline;
}
